<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleatorio</title>
    <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="../img/lapiz.png">
</head>
<body>
    <script>
        var aleatorio = Math.floor(Math.random()*100)+1;
        console.log(aleatorio)
        if(aleatorio%2==0){
            console.log("\nEs par")
        }else{
            console.log("\nEs inpar")
        }
    </script>
    
</body>
</html>
