<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mas pequeño y más grande</title>
</head>
<body>
    <script>
       let numeros = [2,2,9,7, 1, 2];
       let newmen = numeros[0];
       let newmay = numeros[0];

        for (let i = 1; i < numeros.length; i++) {
            if (numeros[i] > newmay) {
                newmay = numeros[i];
            }
            if (numeros[i] < newmen) {
                newmen = numeros[i];
            }
        }
            console.log("El numero mayor es " + newmay)
            console.log("\nEl numero menor es " + newmen)
       
    </script>
    
</body>
</html>