<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piedra, papel o tijeras</title>
    <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="../img/lapiz.png">
    
</head>
<body>
    <script>
        var jugada = 0; //jugador 
        var pc = Math.floor(Math.random()*3)+1; //pc
        var perdigosJugador = 0;
        var GanadosJugador = 0;
        var empate = 0;
        var rondas = 0;
        var rondasJugadas = 0;
        
        console.log("Recuerda que: \n 1 = Piedra \n 2 = Papel \n 3 = tijeras ")
        rondas = prompt("Ingrese las rondas que quiere que dure la partida")
        while (rondasJugadas < rondas) {
            jugada = prompt("Ingrese la opcion que quieras jugar: 1.Piedra 2.Papel 3.Tijera")
            rondasJugadas ++;
       
            if(jugada == 1 || jugada == 2 || jugada == 3){
                console.log("\nTirada por la PC: "+pc);
                console.log("Tiradas por usuario: "+jugada);
                if(jugada == pc){
                    empate++;
                }
                else if((jugada == 1 && pc == 2 )|| (jugada == 2 && pc == 3 )|| (jugada == 3 && pc == 1) ){
                perdigosJugador ++;
                }
                else{
                    GanadosJugador ++;
                }        
            }
            else{
                console.log("Ingrese una opcion valida")
            } 
        }
        console.log("\nEmpataron: "+empate)
        console.log("Jugos ganados: "+GanadosJugador);
        console.log("Juegos Perdidos: "+perdigosJugador);
    </script>
</body>
</html>