<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Minecraft</title>
    <link rel="stylesheet" href="../css/maincra.css">
</head>
<body>
<div class="container">
    <main>
        <div class="steve__container">
            <img class="steve" src="../img/steve.png" alt="Skin Steve">
            <div class="armadura__container">
                <img id="peto" class="peto armadura petoo" src="../img/peto.png" alt="">
                <img id="pantalon" class="pantalones armadura" src="../img/pantalones.png" alt="">
                <img id="botas" class="botas armadura" src="../img/botas.png" alt="">
            </div>
        </div>
    </main>

    <aside id="estadisticas__container" class="estadisticas">
        <h2>
            Estadísticas
        </h2>
        <div id="datos" class="datos">
            <div class="dato__container">
               <b> Nombre: <p id="nombre">  </p>
                Material: <p id="material"></p>
                Vida Util: <p id="vidaU"></p>
                Protección: <p id="prote"></p></b>
            </div>
        </div>
    </aside>

    <footer>
        <div class="herramientas__container">
            <div class="inventario">
                <img id="espada" class="herramienta" src="../img/espada.png" alt="">
                <img id="hacha" class="herramienta" src="../img/hacha.png" alt="">
                <img id="pico" class="herramienta" src="../img/pico.png" alt="">
                <img id="azada" class="herramienta" src="../img/azada.png" alt="">
                <img id="pala" class="herramienta" src="../img/pala.png" alt="">
            </div>
        </div>
    </footer>

    <script src="../js/maincra.js"></script>
</div>
</body>
</html>